<div class="container__big-card">

  <div class="big-card__photo">
    <img src="https://as02.epimg.net/meristation/imagenes/2020/06/18/videos/1592474742_652133_1592474965_noticia_normal.jpg" alt="photo" height="200px">
  </div>
  <a href="https://miro.medium.com/v2/resize:fit:720/format:webp/1*Nmb3_8DCuANFEcfXD7iyEQ.png"></a>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer auctor faucibus tellus, ut euismod augue vehicula eu. Sed rutrum massa condimentum dignissim elementum. Praesent fermentum viverra erat, quis elementum justo malesuada ac. Quisque id libero augue.
      </a>
     </p>
  </div>

</div>
